
@{
    ViewData["Title"] = "Index";
}
    <div class="card text-center rounded shadow p-2 bg-success text-light ">
        <div class="card-header">
            <h1 class="text-center font-weight-bolder border-success">Information</h1>
        </div>
        <div class="card-subtitle bg-secondary">
            <h3>Please be patient</h3>
        </div>
        <div class="card-body bg-light text-success font-weight-bold border-dark">
            <p class="font-weight-bold">This is a landing page for development of information pages that have not been created yet...</p>
        </div>
    </div>



